<html>
	<head>
		<title>HOME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
		<meta charset="UTF-8">
                <meta name="description" content="Guide in Software Engine Optimization">
                <meta name="keywords" content="SEO,Software Engine Optimization">
                <meta name="author" content="Reno Fandino">
 
	</head>


	
	<body class="landing">
	<style>
body {
   background-image:url("images/images.jpg");
         background-repeat: no-repeat;
         background-attachment: fixed;
}
h1 {
    color: maroon;
    margin-left: 40px;
} 
</style>
	  
	

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="/home">HOME</a></strong> </h1>
				<h2><input type=button onClick=window.open("/login","demo","width=500,height=250,left=150,top=200,toolbar=0,status=0,"); value="Signup"></h2>

				<nav id="nav">
				

				
					<ul>
						<li><a href="/">About SEO</a></li>
						<li><a href="/index2">SEO AND SEM</a></li>
						<li><a href="/index3">STRATEGIES</a></li>
						
					</ul>

				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner3">
				<h2>Search Engine Optimization</h2>
				
				
			</section>
						<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/reno.fandino" class="icon fa-facebook"></a></li>
						<li><a href="https://twitter.com/RenoMarco" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; </li>
						<li>SEO <a href="http://templated.co"></a></li>
						<li> <a href="http://unsplash.com"></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>


			
</body>
</html>
